@model StudentReportViewModel
@{
    Layout = "_StudentLayout";
}
        <h1>Attendance History</h1>

        @if (Model.lstLectures.Count > 0)
        {
            <table>
                <tr>
                    <th>Module Code</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Classroom</th>
                    <th>Attendance</th>
                </tr>
                <tbody>
                    @if (Model != null)
                    {

                        @foreach (var lecture in Model.lstLectures)
                        {
                            <tr>
                                <td>@lecture.ModuleCode</td>
                                <td>@lecture.LectureDate</td>
                                <td>@Model.CalcDuration(lecture)</td>
                                <td>@lecture.ClassroomCode</td>
                                <td>@Model.GetAttendance(lecture)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        } else
        {
            <h3>
                You haven't had a lecture yet, check back once you have.
            </h3>
        }

