@model StudentReportViewModel
@await Html.PartialAsync("_StudTopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_StudSidebarPartial")
    <div class="custom-content">
        <h1>Attendance History</h1>

        @if (Model.lstLectures.Count > 0)
        {
            <table>
                <tr>
                    <th>Module Code</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Scan In</th>
                    <th>Scan Out</th>
                    <th>Classroom</th>
                </tr>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var lecture in Model.lstLectures)
                        {
                            <tr>
                                <td>@lecture.ModuleCode</td>
                                <td>@lecture.LectureDate</td>
                                <td>@Model.CalcDuration(lecture)</td>
                                <td>@lecture.ScanIn.ToShortTimeString()</td>
                                @if (@lecture.ScanOut != null)
                                {
                                    TimeOnly scanout = (TimeOnly)@lecture.ScanOut;
                                    <td>@scanout.ToShortTimeString()</td>
                                }
                                <td>@lecture.ClassroomCode</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        } else
        {
            <h3>
                You haven't had a lecture yet, check back once you have.
            </h3>
        }

    </div>
</div>
