@model StudentReportViewModel

@await Html.PartialAsync("_StudTopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_StudSidebarPartial")
    <div class="custom-content">
        <h1>Attendance Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Lecture Date</th>
                    <th>Classroom Code</th>
                    <th>Scan In</th>
                    <th>Scan Out</th>
                    <th>Module</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var report in Model.lstLectures)
                    {
                        <tr>
                            <td>@report.LectureDate.ToShortDateString()</td>
                            <td>@report.ClassroomCode</td>
                            <td>@report.ScanIn.ToShortTimeString()</td>
                            @if (@report.ScanOut != null)
                            {
                                TimeOnly scanout = (TimeOnly)@report.ScanOut;
                                <td>@scanout.ToShortTimeString()</td>
                            }
                            <td>@report.ModuleCode</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>