@model LectureReportViewModel
@{
    ViewData["Title"] = "Lecture Report";
    Layout = "_LecturerLayout";
}
<div class="head-title">
    <div class="left">
        <h1>Lecturer Report</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Lecturer Report</a></li>
        </ul>
    </div>
</div>


<div class="table-data">
    <div class="order">
       <table>
            <thead>
                <tr>
                    <th>Lecture No</th>
                    <th>Lecture Date</th>
                    <th>Module</th>
                    <th>Time</th>
                    <th>Classroom</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstLectures)
                {
                    <tr>
                        <td>@item.LectureId</td>
                        <td>@item.Date</td>
                        <td>@item.ModuleCode</td>
                        <td>@item.Start - @item.Finish</td>
                        <td>@item.ClassroomCode</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
