@model LectureReportViewModel
@{
    ViewData["Title"] = "Student Attendance";
    Layout = "_LecturerLayout";
}
<div class="head-title">
    <div class="left">
        <h1>Student Report</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Student Report</a></li>
        </ul>
    </div>
</div>

<div class="table-data">
    <div class="order">
        <table>
            <thead>
                <tr>
                    <th class="ree">Student Number</th>
                    <th class="ree">Name</th>
                    <th class="ree">Attended</th>
                    <th class="ree">Late</th>
                    <th class="ree">Absent</th>
                    <th class="ree">Perc. Attended</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstStudents)
                {
                    <tr class="user-row">
                        <td>@item.studentNo</td>
                        <td>@item.name</td>
                        <td>@Model.GetStudentAttendance(item)</td>
                        <td>@Model.CalcLate(item)</td>
                        <td>@Model.CalcAbsent(item)</td>
                        <td>@Model.CalcAttendancePerc(item)%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
