@using XBCADAttendance.Models.ViewModels
@model AddStaffViewModel
@{

}

<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <form asp-action="AddStaff" asp-controller="AddUser" method="post">
            Name: <br /><input type="text" asp-for=@Model.Name class="form-text" /><br />
            Role: <br />
            <select asp-for=@Model.Role class="form-text" >
                @if(Model.lstRoles != null){
                    @foreach (var role in Model.lstRoles)
                    {
                        <option>@role.RoleName</option>
                    }
                }
            </select><br />
            Staff Number: <br /><input type="text" asp-for="@Model.StaffNumber" class="form-text" /><br />
            User Id: <br /><input type="text" asp-for="@Model.UserId" class="form-text" /><br />
            Password: <br /><input type="password" asp-for="@Model.Password" class="form-text" /><br />
            <button type="submit">Add</button>
        </form>

        <!-- Display the message -->
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }
    </div>
</div>

