@using XBCADAttendance.Models.ViewModels
@model AdminViewModel
@{
}

<table>
    <tr>
        <th></th>
        <th>Lecturer</th>
        <th>Module</th>
        <th>Classroom</th>
        <th>Date</th>
        <th>Start</th>
        <th>Finish</th>
    </tr>

    @foreach (var lecture in Model.StaffLectures)
    {
        <tr>
            <td><button>Expand</button></td>
            <td>@Model.GetLecturer(lecture)</td>
            <td>@lecture.ModuleCode</td>
            <td>@lecture.ClassroomCode</td>
            <td>@lecture.Date</td>
            <td>@lecture.Start</td>
            <td>@lecture.Finish</td>
        </tr>
    }
</table>